body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.logo {
	margin-top: 4rem;
	max-width: 300px;
}
.form,
.form input {
	margin-top: 2rem;
	font-family: inherit;
}
.button.disabled {
	background-color: #dedede;
	color: #444;
	cursor: not-allowed;
}
.button.disabled:hover {
	background-color: #d2d2d2;
}